<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing this</title>
</head>

<body>
    <%= 9 * 5 %>
    <figure class="image is-2by1">
        <img src="https://parksideacademy.org.uk/wp-content/uploads/2016/09/table_tennis-500x281.jpg">
    </figure>

</body>

</html>